In [26]:
# https://soogoonsoogoonpythonists.github.io/sqlalchemy-for-pythonist/tutorial/3.%20%ED%8A%B8%EB%9E%9C%EC%9E%AD%EC%85%98%EA%B3%BC%20%EC%BF%BC%EB%A6%AC%20%EC%8B%A4%ED%96%89%ED%95%98%EA%B8%B0.html#%E1%84%8B%E1%85%A7%E1%86%AB%E1%84%80%E1%85%A7%E1%86%AF-%E1%84%8B%E1%85%A5%E1%86%AE%E1%84%80%E1%85%B5

In [27]:
from sqlalchemy import create_engine

In [28]:
# MySQL 연결 설정
db_user = "root"
db_password = "1234"
db_host = "localhost"
db_port = "3306"
db_name = "sqlAlchemyTest"

In [29]:
engine=create_engine(
    f"mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}"
    )

In [30]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

[('hello world',)]

In [33]:
from sqlalchemy import text

In [34]:
with engine.connect() as connection:
    connection.execute(text(f"CREATE DATABASE IF NOT EXISTS {db_name};"))

In [39]:
with engine.connect() as conn:
    # 테이블을 생성합니다.
    conn.execute(text("USE sqlalchemytest;"))
    conn.execute(text("CREATE TABLE IF NOT EXISTS some_table (x int, y int)")) 
    # 데이터를 삽입합니다.
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}]
        )

In [40]:
with engine.connect() as conn:
    # conn.execute() 는 Result라는 객체에 내보냅니다.
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 1  y: 1
x: 2  y: 4
x: 1  y: 1
x: 2  y: 4

In [41]:
with engine.connect() as conn:
    result = conn.execute(
    text("SELECT x, y FROM some_table WHERE y > :y"),  # 콜론 형식(:)으로 받습니다.
    {"y": 2}  # 사전 형식으로 넘깁니다.
    )
for row in result:
    print(f"x: {row.x}  y: {row.y}")

x: 2  y: 4
x: 2  y: 4

In [44]:
with engine.connect() as conn:
    conn.execute(
    text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
    [{"x": 11, "y": 12}, {"x": 13, "y": 14}]  # 사전의 리스트로 넘깁니다.
    )


ORM Session으로 실행

In [45]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y").bindparams(y=6)

# Session 객체에 Engine 객체의 인스턴스를 넘겨 데이터베이스와 상호작용할 수 있는 인스턴스를 얻습니다.
with Session(engine) as session:
    # Session.execute() 메서드로 쿼리를 실행합니다.
    result = session.execute(stmt)
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 11  y: 12
x: 11  y: 12
x: 11  y: 12
x: 13  y: 14
x: 13  y: 14
x: 13  y: 14